<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="resourceLoaderDao" class="ru.otus.spring.dao.ResourceLoaderDaoSimple">
        <constructor-arg name="resourcePath" value="/questions.csv"/>
    </bean>

    <bean id="parseServiceSimple" class="ru.otus.spring.service.ParseServiceSimple">
    </bean>

    <bean id="questionServiceSimple" class="ru.otus.spring.service.QuestionServiceSimple">
        <constructor-arg name="resourceLoaderDao" ref="resourceLoaderDao"/>
        <constructor-arg name="parseServiceSimple" ref="parseServiceSimple"/>
    </bean>

</beans>
