<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" th:content="${keywords}"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
<!--    Почему-то не могу подключить jquery. Получаю ошибку Uncaught SyntaxError: Unexpected token '<' + Uncaught ReferenceError: $ is not defined-->
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<form id="edit-form" method="post" action="edit.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value=""/>
    </div>

    <div class="row">
        <label for="book-name">Name:</label>
        <input id="book-name" name="name" type="text" value=""/>
    </div>

    <div class="row">
        <label for="book-author">Author:</label>
        <input id="book-author" name="author" type="text" value=""/>
    </div>

    <div class="row">
        <label for="book-genre">Genre:</label>
        <input id="book-genre" name="genre" type="text" value=""/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        console.log("ready!");
    });
</script>

</body>
</html>
