<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Главная страница</title>
</head>
<body>
<a th:href="@{public}">/public</a>
<br>
<a th:href="@{book}">/book</a>

<br>
<a th:href="@{auth_manager}">/auth_manager</a>
<br>
<a th:href="@{auth_admin}">/auth_admin</a>
<br>
<a th:href="@{auth_user}">/auth_user</a>
<br>
<a th:href="@{auth_admin_or_manager}">/auth_admin_or_manager</a>

<br>
<a th:href="@{pre_auth_user}">/pre_auth_user</a>
<br>
<a th:href="@{pre_auth_manager}">/pre_auth_manager</a>
<br>
<a th:href="@{pre_auth_admin}">/pre_auth_admin</a>
<br>
<a th:href="@{pre_auth_manager_or_admin}">/pre_auth_manager_or_admin</a>
</body>
</html>
