<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create new book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="create-form" th:action="@{/book/create}" th:method="post" action="save.html">
    <h1>New book:</h1>

    <div class="row">
        <label for="book-name">Name:</label>
        <input id="book-name" name="name" type="text" value="Задайте имя книги"/>
    </div>

    <div class="row">
        <label for="book-author">Author:</label>
        <input id="book-author" name="author" type="text" value="Укажите автора"/>
    </div>

    <div class="row">
        <label for="book-genre">Genre:</label>
        <input id="book-genre" name="genre" type="text" value="Укажите жанр"/>
    </div>

    <div class="row">
        <button type="submit">Create</button>
    </div>
</form>

</body>
</html>
